.wrapper {
  padding: 0 1rem;
}
.day {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}
.tableWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.tableWrapper h2 {
  font-size: 2rem;
  text-align: center;
}
.label {
  display: flex;
  justify-items: baseline;
  gap: 1rem;
}
.label img {
  width: 2rem;
}
