.wrapper {
  /* position: absolute; */
  /* top: 3%; */
  /* right: 3%; */
  display: flex;
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
  align-items: end;
  justify-content: right;
  gap: 1rem;

  font-size: 1.4rem;
}

.wrapper span {
  text-align: right;
  color: #9ca3af;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.logo {
  width: 10vw;
  border-radius: 10px;
  opacity: 0.9;
}

.fade-in-out {
  animation: fadeInOut 7s infinite; /* Loop the animation */
}
@keyframes fadeInOut {
  0% {
    opacity: 0; /* Start transparent */
  }
  50% {
    opacity: 1; /* Fade to visible */
  }
  100% {
    opacity: 0; /* Fade out to transparent */
  }
}
